<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Anketa_Express"
			 connectionString =
			 "Server = .;
			 Database = Anketa;
			 Trusted_Connection = true;
			 Encrypt = False" 
			 providerName = "System.Data.SqlClient"
			 />
		<add name="Anketa_LocalDB"
			 connectionString =
			 "Server = (localdb)\MSSQLLocalDB;
			 Database = Anketa;
			 Trusted_Connection = true;
			 Encrypt = False" 
			 providerName = "System.Data.SqlClient"
			 />	 
		<add name="Anketa_SQLite"
			 connectionString =
			 "Data Source = Anketa.db;"
			 providerName = "Microsoft.Data.Sqlite"
			 />
</connectionStrings>
</configuration>